/* style.css */

/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
small,
strong,
sub,
sup,
mark,
abbr,
time,
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global styles */
@media (max-width: 600px) {
  :root {
    font-size: 1.3vh; /* Riduci la dimensione base del font per schermi piccoli */
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1.9vh; /* Aumenta la dimensione base del font per schermi grandi */
  }
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url('https://i.pinimg.com/originals/e9/e8/b8/e9e8b87303ddaa016f8a1759c02c9319.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

button {
  padding-top: 1em;
  cursor: pointer;
}

/* Add your custom global styles here */
@media screen and (min-width: 1024px) {
      .container {
          max-width: 660px;
      }
  }

.title {
  display: inline-block;
  padding-top: 0.5em;
  font-size: 3vh;
  background-color: rgb(51, 51, 51, 0.5);
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
  border-radius: 8vh;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.scommessa {
  background-color: aquamarine;
  font-size: large;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

}
#notifica{
  display: block;
  position: absolute;
  visibility: hidden;
  top: 40vh;
  left: 43%;
  z-index: 80;
}
#daBlurare{
  filter: none;
}

